@import url("https://fonts.googleapis.com/css?family=Oswald:400|Montserrat:400|Inter:400");

.desktop-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1616px;
  width: 1440px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.read-container-1 {
  align-items: flex-end;
  display: flex;
  height: 40px;
  margin-left: 46px;
  margin-top: 11px;
  min-width: 1101px;
}

.read-2 {
  cursor: pointer;
  height: 35px;
  letter-spacing: 0;
  margin-left: 49px;
  text-align: center;
  text-decoration: underline;
  width: 238px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.read-1 {
  cursor: pointer;
  height: 35px;
  letter-spacing: 0;
  margin-left: 78px;
  text-align: center;
  text-decoration: underline;
  width: 238px;
}

.read {
  cursor: pointer;
  height: 35px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: underline;
  width: 236px;
}

.read-5 {
  align-self: flex-start;
  cursor: pointer;
  height: 35px;
  letter-spacing: 0;
  margin-left: 26px;
  text-align: center;
  text-decoration: underline;
  width: 236px;
}

.flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  min-height: 1471px;
  width: 1440px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 29px;
  margin-top: 43px;
  min-width: 1351px;
}

.dentro {
  height: 394px;
  object-fit: cover;
  width: 242px;
}

.pyramid-en {
  height: 383px;
  margin-left: 57px;
  object-fit: cover;
  width: 255px;
}

.scp-entities {
  height: 383px;
  margin-left: 21px;
  object-fit: cover;
  width: 230px;
}

.pyramid-gr {
  height: 383px;
  margin-left: 40px;
  object-fit: cover;
  width: 255px;
}

.backrooms {
  height: 383px;
  margin-left: 21px;
  object-fit: cover;
  width: 230px;
}

.cosmic-e-books {
  color: var(--black);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 86px;
  letter-spacing: 0;
  text-align: center;
  width: 1440px;
}

.read-container {
  align-items: flex-end;
  display: flex;
  height: 48px;
  margin-left: 31px;
  margin-top: 3px;
  min-width: 1349px;
}

.read-3 {
  align-self: center;
  cursor: pointer;
  height: 35px;
  letter-spacing: 0;
  margin-left: 26px;
  margin-top: 3px;
  text-align: center;
  text-decoration: underline;
  width: 236px;
}

.read-4 {
  align-self: flex-start;
  cursor: pointer;
  height: 35px;
  letter-spacing: 0;
  margin-left: 12px;
  text-align: center;
  text-decoration: underline;
  width: 236px;
}

.flex-row-1 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 44px;
  margin-top: 91px;
  min-width: 1100px;
}

.backrooms-prison {
  height: 383px;
  margin-left: 57px;
  object-fit: cover;
  width: 255px;
}

.neuralinks {
  height: 394px;
  object-fit: cover;
  width: 242px;
}

.scp-entities-1 {
  height: 383px;
  margin-left: 21px;
  object-fit: cover;
  width: 230px;
}

.overlap-group {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 393px;
  margin-top: 19px;
  min-width: 1440px;
}

.title {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 400;
  height: 392px;
  letter-spacing: 0;
  text-align: center;
  width: 1440px;
}
